<!DOCTYPE html>
<html>
  <head>
    <title>Team 1</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Team 1</h1>
    <p>Welcome to Team 1 JBS College Life</p>
    Color Dong <br>
    Jay Tseng <br>
    Jiaxin Li <br>
    Tristan Tseng <br>
    Kaiming Wang <br>
  </body>
</html>
